@keyframes opacidade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
    min-height: 100%;
    background-color: #dedede;
}

header {
    height: 90px;
    padding-top: 0.1rem;
    position: sticky;
    top: 0;
    background-color: #3f51b5;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 30px;
    padding-left: 45%;
    margin: auto;
    padding-top: 8px;
}

p {
    font-size: 20px;
    margin: 0;
}

main {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

footer {
    background-color: #3f51b5;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
}

footer p {
    font-size: 15px;
    margin: auto;
}

img {
    height: fit-content;
    width: fit-content;
}

.headerTitle {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
}
